<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Login Page</title>
		<link rel="stylesheet" type="text/css" href="/css/login.css" />
	</head>
	<body class="container">	
		<h1>Login Page</h1>
		
		<p class="warning" th:if="${error}" th:utext="${error}"></p>
		
		<form th:action="@{/auth/login}" method="POST">
			<label>Username</label>
			<input type="text" name="username" required>
			<label>Password</label>
			<input type="password" name="password" required>
			<button type="submit">Submit</button>
		</form>
		
		<a href="#" th:href="@{/auth/register}">Click Here to Signup</a>
	</body>
</html>