<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>User Registration Page</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body class="container">
	<h1>User Registration Page</h1>

	<p class="warning" th:if="${error}" th:utext="${error}"></p>
	<p class="success" th:if="${success}" th:utext="${success}"></p>

	<form th:action="@{/user/register}" method="POST">
		<label for="firstName">First name</label>
		<input type="text" name="firstName" id="firstName" required>
		<label for="lastName">Last name</label>
		<input type="text" name="lastName" id="lastName" required>
		<label for="username">Username</label>
		<input type="text" name="username" id="username" required>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" required>
		<button type="submit">Submit</button>
	</form>

	<a th:href="@{/login}">Click Here to Login</a>
</body>
</html>